.grid-el-1 {
    background-color: #929292;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
}

.grid-el-2 {
    background-color: #929292;
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 4;
}

.grid-el-3 {
    background-color: #929292;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
}

.grid-el-4 {
    background-color: #929292;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 8;
}

.grid-el-5 {
    background-color: #929292;
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 8;
}

.grid-el-6 {
    background-color: #929292;
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 4;
    grid-row-end: 6;
}

.grid-el-7 {
    background-color: #929292;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 8;
    grid-row-end: 10;
}

.grid-el-8 {
    background-color: #929292;
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 8;
    grid-row-end: 10;
}

.grid-el-9 {
    background-color: #929292;
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 10;
}

.grid-el-1, .grid-el-2, .grid-el-3, .grid-el-4, .grid-el-5,
.grid-el-6, .grid-el-7, .grid-el-8, .grid-el-9 {
    overflow: hidden;
}

.grid-el-1 img, .grid-el-2 img, .grid-el-3 img, .grid-el-4 img, .grid-el-5 img,
.grid-el-6 img, .grid-el-7 img, .grid-el-8 img, .grid-el-9 img {
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

.grid-el-1:hover img, .grid-el-2:hover img, .grid-el-3:hover img, .grid-el-4:hover img, .grid-el-5:hover img,
.grid-el-6:hover img, .grid-el-7:hover img, .grid-el-8:hover img, .grid-el-9:hover img {
    transform: scale(1.1);
}

