/* carousel */

.carousel-wrapper {
    width: 100%;
}

#carousel {
    width: 100%;
    margin: auto;
    position: relative;
	cursor: grab;
}

.slide {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
}

#slide-container {
    height: 100%;
    overflow: hidden;
    position: relative;
}

#previous-slide-btn {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 40px;
    transform: translate(-50%, -40px);
}

#next-slide-btn {
    position: absolute;
    z-index: 3;
    top: 50%;
    right: 40px;
    transform: translate(50%, -40px);
}

.previous-slide-icon, .next-slide-icon {
    font-size: 40px;
    color: whitesmoke;
    cursor: pointer;
    position: absolute;
}

.previous-slide-icon {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.next-slide-icon {
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%)
}

.circle {
    background-color: transparent;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: relative;
    transition: 0.3s ease-in-out;
}

.circle:hover {
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in-out;
}

.circle:hover .next-slide-icon, .circle:hover .previous-slide-icon {
    color: #CD7F32;
}

.slide-text {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 20%);
    font-size: 30px;
    font-weight: 600;
    color: whitesmoke;
    width: 500px;
    height: 50px;
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.slide-btn-cont {
    position: absolute;
    top: 30%;
    left: 50%;
    width: 300px;
    height: auto;
    transform: translate(-50%, 30%);
}

.slide-button {
    width: 100%;
    height: 50px;
    margin: 10px 0;
    font-size: 18px;
    background-color: transparent;
    color: whitesmoke;
    border: 1px solid whitesmoke;
    cursor: pointer;
}

.slide-button:hover {
    color: #CD7F32;
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid #CD7F32;
}

/* carousel end */

/* content */

.content-text-wrapper-left {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 20%;
    bottom: -10%;
    background-color: whitesmoke;
    color: #3D210C;
}

.content-text-wrapper-right {
    width: 100%;
    height: 100%;
    position: absolute;
    right: 20%;
    bottom: -10%;
    background-color: whitesmoke;
    color: #3D210C;
}

.content-text-h2 {
    font-size: 30px;
    padding-bottom: 10px;
    text-align: center;
    color: #3D210C;
    
}

.content-text-p {
    font-size: 20px;
    text-align: center;
    padding-bottom: 10px;
    color: #3D210C;
}

.content-text-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.content-button {
    height: 50px;
    margin: 10px;
    font-size: 18px;
    background-color: transparent;
    color: #3D210C;
    border: 1px solid #3D210C;
    cursor: pointer;
    padding: 0 25px;
}

.content-button:hover {
    color: #CD7F32;
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid #CD7F32;
}

.relative-text-wrapper {
    padding: 10px 10%;
    position: relative;
}

/* .content-sale-text {
    position: absolute;
    text-align: center;
    width: 260px;
    transform: rotate(-45deg);
    bottom: 11%;
    left: 50%;
    background-color: red;
    height: 40px;
    color: whitesmoke;
    font-size: 30px;
}

.content-new-text {
    position: absolute;
    text-align: center;
    width: 260px;
    transform: rotate(-45deg);
    bottom: 11%;
    left: 50%;
    background-color: red;
    height: 40px;
    color: whitesmoke;
    font-size: 30px;
} */

.grid-col-1-2-left-2 img, .grid-col-1-2-right-2 img {
    transition: 0.3s ease-in-out;
}

.grid-col-1-2-left-2:hover img, .grid-col-1-2-right-2:hover img {
    transform: scale(1.1);
}

/* content end */