.blog-wrapper {
    width: 70%;
    margin: 0 auto;
}

.blog-column-left {
    width: 70%;
    position: relative;
    padding: 0 2vh;
    margin-bottom: 5vh;
}

.blog-column-right {
    width: 30%;
}

.blog-search {
    color: #3D210C;
    position: absolute;
    top: 50%;
    right: 1%;
    transform: translate(-1%, -50%);
}

.blog-search::before {
    font-family: "fontello";
    content: '\e803';
    font-size: 30px;
}

.blog-nav-element {
    background-color: rgb(230, 230, 230);
    width: 100%;
    padding: 5%;
    margin-bottom: 2vh;
    position: relative;
}

.blog-search-wrapper {

}

.blog-search-form {
    width: 100%;
    position: relative;
}

.blog-search-input {
    width: 100%;
    height: 4vh;
    font-size: 100%;
    padding-left: 1vh;
    padding-right: 15%;
    border: 1px solid rgb(160, 160, 160);
    background-color: whitesmoke;
    color: gray;
}

.blog-search-button {
    cursor: pointer;
    width: 100%;
    height: 4vh;
    margin: 1vh 0 0 0;
    background: whitesmoke;
    border: 1px solid rgb(160, 160, 160);
    color: gray;
    font-size: 120%;
}

.blog-categories-wrapper {

}

.blog-categories-button {
    width: 100%;
    height: 4vh;
    border: none;
    border-bottom: 1px solid #3D210C;
    background: transparent;
    text-align: left;
    font-size: 110%;
    color: gray;
    cursor: pointer;
}

.key-words-wrapper {

}

.blog-keywords-button {
    margin: 1vh 1vh 0 0;
    height: 3vh;
    padding: 0 1vh;
    font-size: 90%;
    color: gray;
    background-color: whitesmoke;
    border: 1px solid rgb(160, 160, 160);
    cursor: pointer;
}

.blog-categories-button:hover, .blog-keywords-button:hover, .blog-search-button:hover, .blog-search-input:hover, .blog-search-input:hover::placeholder {
    color: #CD7F32;
    border-color: #CD7F32;
}

.blog-search-input:focus::placeholder, .blog-search-input:focus {
    color: #3D210C;
}

.blog-nav-element h2 {
    width: 100%;
    color: #3D210C;
    font-size: 140%;
    border-bottom: 1px solid #3D210C;
    padding-bottom: 1vh;
}

.news-card-wrapper {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    width: 100%;
    transition: 0.5s ease-in-out;
    margin-bottom: 5vh;
}

.news-card-img {
    width: 100%;
    overflow: hidden;
    height: 30vh;
}

.news-card-content {
    width: 100%;
    height: 30vh;
    overflow: hidden;
    position: relative;
    padding: 0 1vh;
    color: #3D210C;
    margin: 1vh 0 1vh 0;
    line-height: 1.1;
}

.news-card-content h2 {
    font-size: 140%;
    width: fit-content;
    border-bottom: 1px solid gray;
    padding-bottom: 1vh;
}

.news-card-content-article {
    height: 75%;
    overflow: hidden;
    margin: 0 0 1vh 0px;
    font-size: 120%;
}

.news-card-footer {
    width: 100%;
    justify-content: space-between;
    padding: 0 1vh;
    margin-bottom: 1vh;
}

.news-card-keywords-wrapper {

}

.news-card-keyword {
    color: gray;
    margin-right: 1vh;
    font-size: 110%;
}

.news-card-button-wrapper {

}

.read-more {
    float: right;
    border: none;
    border-bottom: 1px solid gray;
    background-color: transparent;
    cursor: pointer;
    color: gray;
}

.read {
    cursor: pointer;
    padding: 0 3vh;
    color: gray;
    border: 1px solid gray;
    height: 3vh;
    font-size: 100%;
    background-color: transparent;
}

.read-more:hover, .read:hover {
    color: #CD7F32;
    border-color: #CD7F32;
}

.news-back {
    color: gray;
    border: none;
    border-bottom: 1px solid gray;
    background-color: transparent;
    font-size: 100%;
    cursor: pointer;
}

.news-back:hover {
    color: #CD7F32;
    border-color: #CD7F32;
}

.news-container, .news-article {
    margin-top: 1vh;
}

.news-container h2 {
    width: fit-content;
    border-bottom: 1px solid #3D210C;
    padding-bottom: 1vh;
    font-size: 160%;
}

.news-article p {
    font-size: 120%;
}

.img1 {
    width: 20%;
    float: left;
    margin-right: 1vh;
}

.news-footer {
    width: 100%;
    margin: 1vh 0;
}

.news-page-keyword {
    color: gray;
    font-size: 120%;
    margin: 0 1vh 0 0;
}

