RewriteEngine On

RewriteRule ^sitemap\.xml/? sitemap.php [L,QSA]

RewriteCond %{REQUEST_URI} !^/(js|css|fonts|img|tpl|config|favicon.ico|robots.txt|sitemap.(xml|php))
RewriteRule .* index.php [L,QSA]