#cart-page .cart-content {
    width: 60%;
    margin: 0 auto;
    position: relative;
}

#cart-page .cart-column-left {
    width: 70%;
    position: relative;
}

#cart-page .cart-column-right {
    width: 30%;
    position: relative;
}

#cart-page .product-card {
    width: 100%;
    height: auto;
    box-shadow: 0px 2px 7px 0px black;
    position: relative;
    margin: 2vh 0;
}

#cart-page .product-card-photo {
    width: 20vh;
    height: 20vh;
    position: relative;
}

#cart-page .product-card-content {
    height: auto;
    position: relative;
    align-items: center;
    margin-left: auto;
    width: 75%;
}

#cart-page .product-card-content .first {
    justify-content: space-between;
}

#cart-page .product-card-title {
    font-size: 140%;
    color: #3D210C;
}

#cart-page .product-card-price {
    font-size: 140%;
    padding: 0 1vh;
}

#cart-page .product-card-quantity {
    width: 100%;
    justify-content: flex-end;
    padding-right: 1vh;
    align-items: center;
}

#cart-page .product-card-quantity p {
    font-size: 120%;
    margin: 0 1vh;
    color: #3D210C;
}

#cart-page .product-card-quantity button {
    font-size: 120%;
    width: 4vh;
    height: 4vh;
    background-color: transparent;
    border: none;
    color: #3D210C;
    cursor: pointer;
}

#cart-page .product-card-del {
    width: 100%;
    justify-content: flex-end;
    padding-right: 1vh;
}

#cart-page .product-card-del button {
    font-size: 110%;
    padding: 0.5vh 3vw;
    color: #3D210C;
    background-color: transparent;
    border: 1px solid #3D210C;
    cursor: pointer;
}

#cart-page .product-card-quantity button:hover, #cart-page .product-card-del button:hover {
    color: #CD7F32;
    border-color: #CD7F32;
}

#cart-page .payment-content {
    background-color: rgb(230, 230, 230);
    width: 90%;
    margin: 0 auto;
    padding: 1vh;
}

#cart-page .payment-details {
    width: 100%;
}

#cart-page .payment-details-item {
    width: 100%;
    justify-content: space-between;
    font-size: 120%;
    color: #3D210C;
}

#cart-page .payment-order {
    width: 100%;
}

#cart-page .payment-order button {
    width: 100%;
    padding: 1vh 0;
    font-size: 100%;
    background-color: transparent;
    margin: 1vh 0;
    color: #3D210C;
    border: 1px solid #3D210C;
    cursor: pointer;
}

#cart-page .payment-order button:hover {
    color: #CD7F32;
    border-color: #CD7F32;
}

/* media */

@media screen and (min-width:0px) and (max-width:1024px) {
    #cart-page .cart-content {
        width: 90%;
        margin: 0 auto;
        position: relative;
        flex-wrap: wrap;
    }

    #cart-page .cart-column-left, #cart-page .cart-column-right, #cart-page .payment-content {
        width: 100%;
    }
}

@media screen and (min-width:0px) and (max-width: 280px) {

}

@media screen and (min-width:281px) and (max-width: 320px) {

}

@media screen and (min-width:321px) and (max-width: 360px) {

}

@media screen and (min-width:361px) and (max-width: 375px) {

}

@media screen and (min-width:376px) and (max-width: 411px) {

}

@media screen and (min-width:412px) and (max-width: 414px) {

}

@media screen and (min-width:415px) and (max-width: 540px) {

}

@media screen and (min-width:541px) and (max-width: 768px) {
    #cart-page .product-card-title, #cart-page .product-card-quantity button, #cart-page .product-card-quantity p, #cart-page .product-card-price,
    #cart-page .payment-details-item, #cart-page .payment-order button {
        font-size: 150%;
    }
}

@media screen and (min-width:769px) and (max-width: 1024px) {
    #cart-page .product-card-title, #cart-page .product-card-quantity button, #cart-page .product-card-quantity p, #cart-page .product-card-price,
    #cart-page .payment-details-item, #cart-page .payment-order button {
        font-size: 200%;
    }
}

/* media end */