.catalogue-top-nav {
    width: 80%;
    right: 0;
    height: 5vh;
    background-color: rgb(240, 240, 240);
    position: fixed;
    display: flex;
    align-items: center;
    z-index: 1;
}

.catalogue-left-nav {
    background-color: rgb(240, 240, 240);
    height: 100%;
    position: fixed;
    width: 20%;
}

.categories-title {
    justify-content: center;
    align-items: center;
    display: flex;
    padding-top: 1vh;
    padding-bottom: 2vh;
    font-size: 20px;
    color: #3D210C;
}

.nselect.nsOrange .nselect__head:hover,  ._checked:hover {
    color: #CD7F32;
    background-color: rgb(230, 230, 230);
}

.catalogue-button-top-nav {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: 5%;
    color: #3D210C;
    font-size: 110%;
}

.catalogue-button {
    width: 100%;
    font-size: 16px;
    padding: 5px 40px;
    margin: 5px 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #3D210C;
    position: relative;
    text-align: left;
}

.catalogue-sub {
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: 0.5s ease-in-out;
}

.catalogue-button:hover {
    color: #CD7F32;
    background-color: rgb(230, 230, 230);
}

.active.catalogue-button {
    background-color: rgb(230, 230, 230);
}

.catalogue-button::after {
    background-color: #CD7F32;
    display: block;
    content: "";
    height: 1px;
    width: 0%;
    left:50%;
    position:absolute;
    -webkit-transition: width 0.3s ease-in-out;
    -moz--transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
    -webkit-transform:translateX(-50%);
    -moz-transform:translateX(-50%);
    transform:translateX(-50%);
}

.active.catalogue-button::after {
    width: 100%;
}

.btn-ind {
    margin-left: 10px;
}

.btn-ind::before {
    content: '\f105';
    font-family: Fontello;
    position: absolute;
    transform: rotate(0deg);
    transition: 0.3s ease-in-out;
}

.active .btn-ind::before {
    transform: rotate(90deg);
}

.catalogue-top-nav p {
    color: #3D210C;
    font-size: 18px;
}

.catalogue-naw-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
}

.catalogue-content {
    position: relative;
    width: 100%;
    background-color: whitesmoke;
}

.accordion ul {
    margin-left: 10%;
}

.catalogue-page {
    height: 100%;
    padding-left: 20%;
    padding-top: 5vh;
    z-index: 1;
}

.product-wrapper {
    width: 30vh;
    height: 40vh;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0px 2px 7px 0px black;
    cursor: pointer;
    margin: 3%;
}

.product-wrapper img {
    transition: 0.5s ease-in-out;
}

.product-wrapper:hover {
    box-shadow: 0px 2px 7px 0px #CD7F32;
}

.product-wrapper:hover .product-title, .product-wrapper:hover .product-price {
    color: #CD7F32;
}

.product-wrapper:hover img {
    transform: scale(1.1);
}

.product-photo {
    width: 100%;
    height: 80%;
    overflow: hidden;
    position: relative;
}

.product-title, .product-price {
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 130%;
    color: #3D210C;
    transition: 0.3s ease-in-out;
}

.sale-catalogue, .new-catalogue {
    position: absolute;
    text-align: center;
    width: 200px;
    transform: rotate(-45deg);
    bottom: 10%;
    left: 48%;
    background-color: red;
    height: 35px;
    color: whitesmoke;
    font-size: 170%
}

#hamburger-4 {
    top: 3vh;
}

#hamburger-4.is-active {
    left: 500%;
}

#hamburger-4 .line:nth-child(1),
#hamburger-4 .line:nth-child(3){
    width: 15px;;
    margin: -5px 0;
}

#hamburger-4 .line:nth-child(1){
  -webkit-transform: translateX(20px) rotate(45deg);
  -ms-transform: translateX(20px) rotate(45deg);
  -o-transform: translateX(20px) rotate(45deg);
  transform: translateX(20px) rotate(45deg);
}

#hamburger-4 .line:nth-child(3){
  -webkit-transform: translateX(20px) rotate(-45deg);
  -ms-transform: translateX(20px) rotate(-45deg);
  -o-transform: translateX(20px) rotate(-45deg);
  transform: translateX(20px) rotate(-45deg);
}

#openCatNav {
    z-index: 2;
    position: fixed;
    top: 10vh;
    left: 1vh;
}


#hamburger-4.is-active .line:nth-child(1),
#hamburger-4.is-active .line:nth-child(3){
  width: 15px;
}

#hamburger-4.is-active .line:nth-child(1){
  -webkit-transform: translateX(-1px) rotate(-45deg);
  -ms-transform: translateX(-1px) rotate(-45deg);
  -o-transform: translateX(-1px) rotate(-45deg);
  transform: translateX(-1px) rotate(-45deg);
}

#hamburger-4.is-active .line:nth-child(3){
  -webkit-transform: translateX(-1px) rotate(45deg);
  -ms-transform: translateX(-1px) rotate(45deg);
  -o-transform: translateX(-1px) rotate(45deg);
  transform: translateX(-1px) rotate(45deg);
}


/* media */

@media screen and (min-width:0px) and (max-width:1024px) {
    #openCatNav {
        position: relative;
        width: 100%;
        height: 5vh;
        top: 0;
        left: 0;
    }
    .catalogue-button-top-nav { 
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding: 0 40px;
        margin-right: 0;
        margin-left: 0;
    }

    .catalogue-button-top-nav p {
        width: 100%;
        margin: 5px 0;
    }

    .nselect.nsOrange {
        width: 100%;
        margin: 5px 0;
    }

    .nselect.nsOrange .nselect__head {
        font-size: 18px;
        padding: 7px 24px 7px 0;
    }

    .catalogue-left-nav {
        width: 100%;
        left: -200%;
        z-index: 1;
        opacity: 0;
        transition: 0.3s ease-in-out;
    }

    .catalogue-left-nav.opened {
        left: 0;
        opacity: 1;
        transition: 0.3s ease-in-out
    }

    .catalogue-top-nav {
        width: 0;
        height: 0;
    }

    .catalogue-page {
        padding-left: 0;
        padding-top: 1vh;
    }

    .product-wrapper {
        margin: 2vh auto;
        width: 40vw;
        height: 30vh;
    }

    .product-title, .product-price {
        font-size: 90%;
    }

    .sale-catalogue, .new-catalogue {
        bottom: 13%;
        left: -1%;
        height: 3vh;
        font-size: 100%;
    }

    #hamburger-4 {
        top: 50%;
        transform: translate(0, -50%);
    }

    #hamburger-4.is-active {
        left: 85%;
    }

    .sale-catalogue, .new-catalogue {
        left: 51%;
        font-size: 140%;
    }
}

@media screen and (min-width:0px) and (max-width: 280px) {

}

@media screen and (min-width:281px) and (max-width: 320px) {

}

@media screen and (min-width:321px) and (max-width: 360px) {

}

@media screen and (min-width:361px) and (max-width: 375px) {

}

@media screen and (min-width:376px) and (max-width: 411px) {

}

@media screen and (min-width:412px) and (max-width: 414px) {

}

@media screen and (min-width:415px) and (max-width: 540px) {

}

@media screen and (min-width:541px) and (max-width: 768px) { 
    .catalogue-button, .catalogue-button-top-nav p, .nselect.nsOrange {
        font-size: 150%;
    }

    .nselect.nsOrange .nselect__head {
        font-size: 100%;
    }

    .nselect.nsOrange .nselect__list {
        max-height: max-content;
    }

    .product-photo {
        height: 70%; 
    }

    .product-title, .product-price, .categories-title {
        font-size: 150%;
    }
}

@media screen and (min-width:769px) and (max-width: 1024px) {
    .catalogue-button, .catalogue-button-top-nav p, .nselect.nsOrange {
        font-size: 200%;
    }

    .nselect.nsOrange .nselect__head {
        font-size: 100%;
    }

    .nselect.nsOrange .nselect__list {
        max-height: max-content;
    }

    .product-photo {
        height: 70%; 
    }

    .product-title, .product-price, .categories-title {
        font-size: 200%;
    }

    .sale-catalogue, .new-catalogue {
        left: 51%;
        font-size: 240%;
    }
    
}

/* media end */