.albom-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 50vh);
    grid-template-rows: repeat(1, 50vh);
    overflow: hidden;
    grid-gap: 1vh;
    width: fit-content;
    margin: 1vh auto;
}

.albom-wrapper a {
 overflow: hidden;
}

.albom-wrapper a:hover img {
    transform: scale(1.1);
}

.albom-wrapper a:hover .albom-title {
    color: #CD7F32;
}

.hover-indicator {
    position: absolute;
    width: 100%;
    height: calc(100% - 4vh);
    top: 0;
    opacity: 0;
    transition: 0.2s ease-in-out;
}

.albom-wrapper a:hover .hover-indicator {
    background-color: rgba(245, 245, 245, 0.5);
    opacity: 1;
}

.albom {
    position: relative;
    width: 100%;
    height: 100%;
}

.albom img {
    transition: 0.8s ease-in-out;
}

.albom-title {
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3D210C;
    background-color: rgba(245, 245, 245, 0.5);
    font-size: 120%;
    font-weight: 600;
}

@media screen and (min-width:0px) and (max-width:1024px) {

    .albom-wrapper {
        grid-template-columns: repeat(1, 50vh);
        grid-template-rows: repeat(3, 50vh);
    }
}

@media screen and (min-width:541px) and (max-width: 768px) { 
    .albom-title {
        font-size: 150%;
    }
}

@media screen and (min-width:769px) and (max-width: 1024px) {
    .albom-title {
        font-size: 180%;
    }
}
