.blog-wrapper {
    width: 70%;
    margin: 0 auto;
}

.blog-column-left {
    width: 70%;
    position: relative;
    padding: 0 2vh;
    margin-bottom: 5vh;
}

.blog-column-right {
    width: 30%;
}

.blog-search {
    color: #3D210C;
    position: absolute;
    top: 50%;
    right: 1%;
    transform: translate(-1%, -50%);
}

.blog-search::before {
    font-family: "fontello";
    content: '\e803';
    font-size: 30px;
}

.blog-nav-element {
    background-color: rgb(230, 230, 230);
    max-width: 100%;
    padding: 5%;
    margin-bottom: 2vh;
    position: relative;
}

.blog-search-wrapper {

}

.blog-search-form {
    width: 100%;
    position: relative;
}

.blog-search-input {
    width: 100%;
    height: 4vh;
    font-size: 100%;
    padding-left: 1vh;
    padding-right: 15%;
    border: 1px solid rgb(160, 160, 160);
    background-color: whitesmoke;
    color: gray;
}

.blog-search-button {
    cursor: pointer;
    width: 100%;
    height: 4vh;
    margin: 1vh 0 0 0;
    background: whitesmoke;
    border: 1px solid rgb(160, 160, 160);
    color: gray;
    font-size: 120%;
}

.blog-categories-wrapper {

}

.blog-categories-button {
    width: 100%;
    height: 4vh;
    border: none;
    border-bottom: 1px solid #3D210C;
    background: transparent;
    text-align: left;
    font-size: 110%;
    color: gray;
    cursor: pointer;
}

.key-words-wrapper {

}

.blog-keywords-button {
    margin: 1vh 1vh 0 0;
    height: 3vh;
    padding: 0 1vh;
    font-size: 90%;
    color: gray;
    background-color: whitesmoke;
    border: 1px solid rgb(160, 160, 160);
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.blog-categories-button:hover, .blog-keywords-button:hover, .blog-search-button:hover, .blog-search-input:hover, .blog-search-input:hover::placeholder,
.blog-categories-button:hover a, .blog-keywords-button:hover a, .blog-search-button:hover a, .blog-keywords-button.active {
    color: #CD7F32;
    border-color: #CD7F32;
}

.checkbox-keywords {
    -webkit-appearance: none;
}

.blog-search-input:focus::placeholder, .blog-search-input:focus {
    color: #3D210C;
}

.blog-nav-element h2 {
    width: 100%;
    color: #3D210C;
    font-size: 140%;
    border-bottom: 1px solid #3D210C;
    padding-bottom: 1vh;
}

.news-card-wrapper {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    width: 100%;
    transition: 0.5s ease-in-out;
    margin-bottom: 5vh;
}

.news-card-img {
    width: 100%;
    overflow: hidden;
    height: 30vh;
}

.news-card-content {
    width: 100%;
    height: 30vh;
    overflow: hidden;
    position: relative;
    padding: 0 1vh;
    color: #3D210C;
    margin: 1vh 0 1vh 0;
    line-height: 1.1;
}

.news-card-content h2 {
    font-size: 140%;
    width: fit-content;
    border-bottom: 1px solid gray;
    padding-bottom: 1vh;
}

.news-card-content-article {
    height: 75%;
    overflow: hidden;
    margin: 0 0 1vh 0px;
    font-size: 120%;
}

.news-card-footer {
    width: 100%;
    justify-content: space-between;
    padding: 0 1vh;
    margin-bottom: 1vh;
}

.news-card-keywords-wrapper {

}

.news-card-keyword {
    color: gray;
    margin-right: 1vh;
    font-size: 110%;
}

.news-card-button-wrapper {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.read-more, .hide-news {
    border: none;
    border-bottom: 1px solid gray;
    background-color: transparent;
    cursor: pointer;
    color: gray;
}

.hide-news {
    display: none;
}

.read {
    cursor: pointer;
    padding: 0 3vh;
    color: gray;
    border: 1px solid gray;
    height: 3vh;
    font-size: 100%;
    background-color: transparent;
    margin-left: 1vh;
}

.read-more:hover, .read:hover {
    color: #CD7F32;
    border-color: #CD7F32;
}

.news-back {
    color: gray;
    border: none;
    border-bottom: 1px solid gray;
    background-color: transparent;
    font-size: 100%;
    cursor: pointer;
}

.news-back:hover {
    color: #CD7F32;
    border-color: #CD7F32;
}

.news-container, .news-article {
    margin-top: 1vh;
}

.news-container h2 {
    width: fit-content;
    border-bottom: 1px solid #3D210C;
    padding-bottom: 1vh;
    font-size: 160%;
}

.news-article p {
    font-size: 120%;
}

.imgV1 {
    width: 20%;
    float: left;
    margin-right: 1vh;
}

.imgV2 {
    width: 20%;
    float: right;
    margin-left: 1vh;
}

.imgV3 {
    width: 40%;
    float: left;
    margin-right: 1vh;
}

.imgV4 {
    width: 100%;
    margin: 1vh 0;
}

.news-footer {
    width: 100%;
    margin: 1vh 0;
}

.news-page-keyword {
    color: gray;
    font-size: 120%;
    margin: 0 1vh 0 0;
}

.js-simpleslider {
    margin-top: 1vh;
    width: 100%;
    position: relative;
}

.js-simpleslider-previous-slide, .js-simpleslider-next-slide {
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 50%;
    user-select: none;
    transform: translate(0, -50%);

    -webkit-user-select: none;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.js-simpleslider-previous-slide {
    left: 20px;
}

.js-simpleslider-next-slide {
    right: 20px;
}

.js-simpleslider-previous-slide:hover, .js-simpleslider-next-slide:hover {
    background-color: rgba(0, 0, 0, 0.8);
    transform: translate(0, -50%);
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

/* media */

@media screen and (min-width:0px) and (max-width:1024px) {

    .news-container, .news-article {
        padding: 0 1vw;
    }
    .blog-wrapper {
        width: 100%;
    }

    .blog-column-left {
        width: 100%;
        padding: 1vh 2vh;
    }

    .blog-column-right {
        display: block;
        width: 100%;
        height: 100%;
        position: fixed;
        background-color: #e6e6e6;
        z-index: 1;
        right: -100%;
        transition: 0.5s ease-in-out;
    }

    .blog-column-right.openned {
        right: 0;
    }

    .content-wrapper-full-width {
        padding: 0;
    }

    .blog-search::before {
        font-size: 120%;
    }

    .mobile-nav-news {
        background-color: #e6e6e6;
        width: 100%;
        height: 6vh;
        display: flex;
        position: relative;
        align-items: center;
    }

    .mobile-nav-button {
        background-color: transparent;
        width: 5vh;
        height: 5vh;
        display: flex;
        flex-wrap: wrap;
        margin-left: auto;
        margin-right: 2vh;
    }

    .blog-nav-element {
        width: 80%;
        margin: 0 auto;
    }

    .news-card-content {
        height: 35vh;
    }

    .read {
        height: auto;
    }

    .imgV1, .imgV2, .imgV3 {
        width: 50%;
    }

    .news-card-footer {
        flex-wrap: wrap;
    }

    .news-card-keywords-wrapper {
        margin-bottom: 1vh;
        width: 100%;
    }

    .news-card-button-wrapper {
        margin-top: 1vh;
        width: 100%;
        justify-content: space-between;
    }
}

@media screen and (min-width:0px) and (max-width: 280px) {

}

@media screen and (min-width:281px) and (max-width: 320px) {

}

@media screen and (min-width:321px) and (max-width: 360px) {

}

@media screen and (min-width:361px) and (max-width: 375px) {

}

@media screen and (min-width:376px) and (max-width: 411px) {

}

@media screen and (min-width:412px) and (max-width: 414px) {

}

@media screen and (min-width:415px) and (max-width: 540px) {

}

@media screen and (min-width:541px) and (max-width: 768px) { 
    .content-wrapper {
        padding: 2vh 0;
    }

    .imgV1, .imgV2 {
        width: 20%;
    }

    .imgV3 {
        width: 40%;
    }
}

@media screen and (min-width:769px) and (max-width: 1024px) {
    .news-card-content h2 {
        font-size: 250%;
    }

    .news-card-content-article {
        font-size: 200%;
    }

    .read-more {
        font-size: 160%;
    }

    .news-card-keyword {
        font-size: 150%;
    }

    .read {
        font-size: 150%;
    }

    .blog-categories-button, .blog-keywords-button, .blog-search-button, .blog-search-input {
        font-size: 200%;
    }

    .blog-nav-element h2 {
        font-size: 240%;
    }

    .news-back {
        font-size: 180%;
    }

    .news-container h2 {
        font-size: 250%;
    }

    .news-page-keyword {
        font-size: 140%;
    }

    .news-container, .news-article {
        font-size: 140%;
    }

    .imgV1, .imgV2 {
        width: 20%;
    }

    .imgV3 {
        width: 40%;
    }
}

/* media end */