.product-slider-wrapper {
    width: 60vh;
    position: relative;
}

.product-slider {
    width: 100%;
    position: relative;
}

.product-row {
    height: 20vh;
    overflow: hidden;
}

.product-row .demo {
    margin: 0 10px;
}

.card-right {
    width: 100%;
    padding-left: 1%;
    padding-right: 5%;
}

.product-page-title {
    width: 100%;
    display: flex;
    align-items: center;
    color: #3D210C;
    justify-content: space-between;
}

.product-page-title h2 {
    font-size: 140%;
    margin-left: 1%;
}

.product-page-title p {
    font-size: 130%;
    margin-left: auto;
    margin-right: 5%;
}

.product-page-title button {
    background-color: transparent;
    color: #3D210C;
    font-size: 120%;
    width: 30vh;
    height: 5vh;
    border: 1px solid #3D210C;
    border-radius: 5px;
    margin-right: 1%;
}

.product-page-title button:hover {
    color: #CD7F32;
    background-color: rgb(230, 230, 230);
    border: 1px solid #CD7F32;
}

.card-right article {
    color: #3D210C;
    font-size: 120%;
    width: 60%;
    margin-top: 2%;
    margin-left: 1%;
}

.card-left {
    padding-left: 5%;
}

.params {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(230, 230, 230);
    color: #3D210C;
    margin-top: 2%;
}

.params-row {
    flex-direction: row;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}

.params-row span {
    width: max-content;
    position: relative;
    padding-right: 1vh
}

.params span:first-child {
    width: 100%;
    margin-right: 1vh;
}

.params span p {
    font-size: 18px;
    background-color: rgb(230, 230, 230);
    z-index: 1;
    padding: 1px 2%;
    line-height: 1;
}

.params span:first-child::after {
    border-bottom: 1px dashed #3D210C;
    bottom: 0%;
    content: '';
    display: block;
    height: 20px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 0;
    transform: translate(0, -40%);
}

/* media */

@media screen and (min-width:0px) and (max-width:1024px) {
    .card-left {
        padding-left: 0;
        width: 100%;
    }

    .card-right {
        padding-right: 1%
    }

    .product-slider-wrapper {
        width: 100%;
    }

    .product-page-title {
        flex-wrap: wrap;
    }

    .product-page-title button {
        width: 100%;
    }

    .card-right article {
        width: 100%;
    }

    .params {
        width: 100%;
    }

    .params span:first-child {
        width: 70%;
    }

    .params-row span {
        width: 30%;
    }
}

@media screen and (min-width:0px) and (max-width: 280px) {

}

@media screen and (min-width:281px) and (max-width: 320px) {

}

@media screen and (min-width:321px) and (max-width: 360px) {

}

@media screen and (min-width:361px) and (max-width: 375px) {

}

@media screen and (min-width:376px) and (max-width: 411px) {

}

@media screen and (min-width:412px) and (max-width: 414px) {

}

@media screen and (min-width:415px) and (max-width: 540px) {

}

@media screen and (min-width:541px) and (max-width: 768px) { 
    .params span:first-child {
        width: 80%;
    }

    .params-row span {
        width: 20%;
    }
    .product-page-title button, .product-page-title h2, .product-page-title p, .params span p, .card-right article {
        font-size: 150%;
    }
}

@media screen and (min-width:769px) and (max-width: 1024px) {
    .params span:first-child {
        width: 80%;
    }

    .params-row span {
        width: 20%;
    }

    .product-page-title button, .product-page-title h2, .product-page-title p, .params span p, .card-right article {
        font-size: 200%;
    }
}

/* media end */