.desktop {
    display: block;
}

.mobile-nav-news {
    display: none;
}

@media screen and (min-width:0px) and (max-width:1024px) {
/* header */

.cart-quantity-wrapper {
    right: 0;
}
    .modal-content-lang::after {
        display: none;
    }

    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }

    body {
        overflow-x: auto;
    }

    .mobile-menu {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        z-index: 1;
        transition: 0.3s ease-in-out;
        overflow: hidden;
    }

    .mobile-menu.open {
        left: 0;
        transition: 0.3s ease-in-out;
    }

    .mobile-menu-wrapper {
        background-color: whitesmoke;
        position: relative; 
        padding-top: 45px;
        height: 100%;
    }

    .hamburger-wrapper {
        position: fixed;
        width: 100%;
        z-index: 2;
    }

    .icon-container {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        height: 50px;
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    .hamburger {
        position: absolute;
        left: 30px;
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    .hamburger .line {
        width: 45px;
        height: 5px;
        background-color: #3D210C;
        display: block;
        margin: 8px 0;
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }
    
    .hamburger:hover {
        cursor: pointer;
    }

    .hamburger.is-active {
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    #hamburger-1.is-active .line {
        width: 45px;
        height: 5px;
        margin: 8px 0;
    }

    #hamburger-1.is-active .line:nth-child(2) {
        opacity: 0;
    }
    
    #hamburger-1.is-active .line:nth-child(1) {
        -webkit-transform: translateY(13px) rotate(45deg);
        -ms-transform: translateY(13px) rotate(45deg);
        -o-transform: translateY(13px) rotate(45deg);
        transform: translateY(13px) rotate(45deg);
    }
    
    #hamburger-1.is-active .line:nth-child(3) {
        -webkit-transform: translateY(-13px) rotate(-45deg);
        -ms-transform: translateY(-13px) rotate(-45deg);
        -o-transform: translateY(-13px) rotate(-45deg);
        transform: translateY(-13px) rotate(-45deg);
    }

    #content {
        padding-top: 12vh;
    }

    /* header end */

    /* global */

    .content-wrapper {
        width: 100%;
        padding: 5vh 0;
    }

    .content-text-left {
        grid-column-end: 3;
    }

    .content-text-right {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .previous-slide-icon, .next-slide-icon {
        font-size: 150%;
    }

    .footer {
        font-size: 100%;
    }

    .footer-wrapper {
        flex-wrap: wrap;
    }

    .footer-column {
        width: 100%;
        justify-content: center;
        text-align: center;
        border-bottom: 1px solid whitesmoke;
        padding: 10px 0;
    }

    ::-webkit-scrollbar { /* 1 - скроллбар */
        width: 0;
        height: 0;
      }

    /* global end */

    
    
    .gallery-modal-bg {
            top: -200%;
    }

    .gallery-modal-container {
        width: 100%;
        height: 100%;
    }

    .gallery-modal-content {
        padding-top: 0;
    }

    .gallery-slider {
        height: auto;
    }

    .gallery-slide {
        height: 50vh;
    }

    .slider-preview {
        overflow-y: auto;
    }

    .preview-row img {
        margin: 0;
    }

    .preview-row {
        height: auto;
    }

    

    

    

    .nav-wrapper {
        height: auto;
    }

    .nav-list {
        display: block;
        margin-left: 0;
        width: 100%;
    }

    .nav-list li {
        text-align: left;
        font-size: 160%;
        padding: 0 4vw;
        margin: 1vh 0;
    }

    .nav-list li a::after {
        display: none;
    }

    .menu-btn {
        display: block;
    }

    .countries {
        width: 50%;
        display: block;
    }    

    .btn-country, .btn-language {
        width: 100%;
        height: auto;
        font-size: 130%;
        text-align: left;
        padding: 0 4vw;
        margin: 1vh 0;
    }

    .sub-menu-container {
        width: 50%;
        margin-left: auto;
    }

    .mobile-sub {
        flex-wrap: wrap;
    }

    .sub-home-wrapper, .sub-gallery-wrapper, .sub-clothes-wrapper, .accessories-wrapper, .news-sub-wrapper {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .sub-nav-home-wrapper, .sub-nav-gallery-wrapper, .sub-nav-clothes-wrapper, .sub-nav-accessories-wrapper, .sub-nav-news-wrapper {
        z-index: 1;
    }

    .about-container, .sale-container, .new-goods-container, .clothes-img {
        width: 20vh;
        height: 20vh;
        margin: 2vh 0;
    }

    .sale-text, .new-text, .new-clothes-text {
        width: 24vh;
        bottom: 19%;
        left: 9%;
        height: 4vh;
        font-size: 140%;
    }
    
    .sub-gallery-table {
        grid-template-columns: repeat(2, 14vh);
        grid-template-rows: repeat(6, 14vh);
        grid-gap: 0;
    }

    .clothes-gallery {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
        margin: 1vh 0;
    }

    .home-gallery {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 5;
        margin: 1vh 0;
    }

    .travel-gallery {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 5;
        grid-row-end: 7;
        margin: 1vh 0;
    }

    .gallery-sub-title {
        font-size: 130%;
    }

    .women-clothes {
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
        font-size: 130%;
    }

    .clothes-title {
        font-size: 120%;
        width: 100%;
    }

    .accessories-content {
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .ul-for-women, .ul-for-home, .ul-for-jewelry {
        margin: 0;
    }

    .ul-sub-img {
        display: none;
    }

    .accessories-content ul {
        font-size: 120%;
        margin-bottom: 1vh;
        margin-top: 0;
    }

    .news-sub-content {
        grid-template-columns: repeat(2, 14vh);
        grid-template-rows: repeat(7, 14vh);
        grid-gap: 0;
    }

    .news-sub-title, .rec-sub-title, .media-sub-title {
        font-size: 110%;
        height: 7vh;
    }

    .rec-sub-title span, .media-sub-title span {
        margin-left: 0;
        width: 100%;
        text-align: center;
    }

    .last-news-container {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
        margin: 1vh 0;
    }

    .rec-news-container {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 5;
        margin: 1vh 0;
    }

    .media-news-container {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 5;
        grid-row-end: 7;
        margin: 1vh 0;
    }

    .logo {
        width: 100%;
    }

    .modal-wrapper-lang {
        left: 2vw;
        width: 50vw;
    }

    .open.modal-wrapper-lang {
        top: 6vh;
    }

    .modal-country-cont {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        transform: translate(-0%, 0);
        overflow-y: auto;
    }

    .modal-country-title-cont {
        width: 40%;
    }

    .choose-country {
        font-size: 130%;
    }

    .country-list-europe, .country-list-america, .country-list-asia {
        padding: 0 1vw;
        font-size: 110%;
    }

    .country-list {
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(12,max-content);
        margin: 0;
    }

    .hamburger .line {
        width: 35px;
        height: 3px;
    }

    #hamburger-1.is-active .line {
        width: 20px;
        height: 3px;
        margin: 10px 0;
    }

    .wool-title {
        padding: 0;
    }

    .wool-text-el {
        width: 90%;
        height: 90%;
    }

    .prevImg, .nextImg {
        top: 35%;
    }

    main {
        min-height: auto;
    }

    .buttons-top-nav {
        width: 50%;
        justify-content: flex-start;
        padding: 0 4vw;
    }

    .buttons-top-nav-list li {
        margin: 0 30%;
    }

    .cookies-wrapper {
        width: 100%;
    }

    .cookies-footer button {
        width: auto;
    }

}

@media screen and (min-width:0px) and (max-width: 280px) {

}

@media screen and (min-width:281px) and (max-width: 320px) {

}

@media screen and (min-width:321px) and (max-width: 360px) {

}

@media screen and (min-width:361px) and (max-width: 375px) {

}

@media screen and (min-width:376px) and (max-width: 411px) {

}

@media screen and (min-width:412px) and (max-width: 414px) {

}

@media screen and (min-width:415px) and (max-width: 540px) {

}

@media screen and (min-width:541px) and (max-width: 768px) {

    .content-wrapper {
        padding: 2vh 0;
    }

    .modal-country-title-cont {
        width: 20%;
    }

    .choose-country {
        font-size: 170%;
    }

    .country-list {
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(7,max-content);
        margin: 10px;
    }

    .country-list-europe, .country-list-america, .country-list-asia {
        font-size: 150%;
    }

    .footer {
        font-size: 150%;
    }

    .nav-list li {
        font-size: 200%;
    }

    .btn-country, .btn-language {
        font-size: 180%;
    }

    .clothes-table {
        display: block;
    }

    .women-clothes {
        width: 100%;
    }

    .ul-for-women, .ul-for-home, .ul-for-jewelry {
        width: 100%;
    }

    .close-gallery {
        top: 0;
    }

    .search-icon::before, .inst-icon::before, .cart-icon::before {
        font-size: 250%;
    }

   .cookies-title, .cookies-msg, .cookies-footer {
        font-size: 150%;
    }
}

@media screen and (min-width:769px) and (max-width: 1024px) {
    .modal-country-title-cont {
        width: 30%;
    }

    .choose-country {
        font-size: 260%;
    }

    .country-list {
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(7,max-content);
        margin: 10px;
    }

    .country-list-europe, .country-list-america, .country-list-asia {
        font-size: 200%;
    }

    .modal-country-header {
        height: 6vh;
    }

    .close-modal::before {
        font-size: 170%;
    }

    .nav-list li {
        font-size: 300%;
    }

    .btn-country, .btn-language {
        font-size: 260%;
    }

    .about-text {
        height: 5vh;
        font-size: 300%;
    }

    .sale-text, .new-text, .new-clothes-text {
        font-size: 260%;
    }

    #hamburger-1.is-active .line {
        width: 50px;
        height: 5px;
        margin: 8px 0;
    }

    .gallery-sub-title {
        font-size: 240%;
    }

    .women-clothes {
        font-size: 250%;
        width: 100%;
    }

    /* .hamburger .line {
        width: 45px;
        height: 5px;
    } */

    .clothes-table {
        display: block;
        width: 20vh;
    }

    .accessories-content ul {
        font-size: 270%;
        width: 100%;
    }

    .ul-for-women, .ul-for-home, .ul-for-jewelry {
        flex-wrap: wrap;
        width: 100%;
    }

    .news-sub-title, .rec-sub-title, .media-sub-title {
        font-size: 230%
    }    

    .btn-country, .btn-language {
        font-size: 180%;
    }

    .clothes-table {
        display: block;
    }

    .women-clothes {
        width: 100%;
    }

    .ul-for-women, .ul-for-home, .ul-for-jewelry {
        width: 100%;
    }

    .close-gallery {
        top: 0;
    }

    .footer {
        font-size: 200%;
    }

    .footer-row {
        font-size: 80%;
    }

    .nselect.nsOrange .nselect__list, .nselect .nselect__inner {
        max-height: max-content;
    }

    .search-icon::before, .inst-icon::before, .cart-icon::before {
        font-size: 300%;
    }

    .cookies-title, .cookies-msg, .cookies-footer {
        font-size: 200%;
    }

}