/*global style*/

* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    background-color: whitesmoke;
}

.animated {
    animation: blockAppear 0.5s ease-in-out;
}

*::before {
    box-sizing: border-box;
}

*::after {
    box-sizing: border-box;
}

*:active {
    outline: none;
}

*:hover {
    outline: none;
}

*:focus {
    outline: none;
}

a {
    color: #3D210C;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: #CD7F32;
    text-decoration: none;
}

li {
    display: list-item;
    list-style-type: none;
    margin-bottom: 10px;
}

ul {
    position: relative;
    margin-top: 10px;
}

header {
    z-index: 1000;
}

main {
    min-height: 100vh;
}

.hidden{
    opacity:0;
}
.visible{
    opacity:1;
}

::-webkit-scrollbar { /* 1 - скроллбар */
    width: 6px;
    height: 4px;
  }
  ::-webkit-scrollbar-track { /* 3 - трек */
  }

  ::-webkit-scrollbar-track-piece { /* 4 - видимая часть трека */
  }

  ::-webkit-scrollbar-thumb { /* 5 - ползунок */
    border-radius: 2px;
    background-color: #d1d1d1;
  }


/*global style end*/
/*fonts*/

@font-face {
    font-family: 'fontello';
    src: url('../font/fontello.eot');
    src: url('../font/fontello.eot') format('embedded-opentype'),
         url('../font/fontello.woff2') format('woff2'),
         url('../font/fontello.woff') format('woff'),
         url('../font/fontello.ttf') format('truetype'),
         url('../font/fontello.svg') format('svg');
    font-weight: normal;
    font-style: normal;
  }

/*fonts end*/
/* header */
header {
    background-color: whitesmoke;
    z-index: 1001;
    position: fixed;
    width: 100%;
}

#headerContainer {
    background-color: whitesmoke;
    z-index: 1;
}

.nav-top {
    position: relative;
    width: 100%;
    height: 75px;
    align-items: center;
    justify-content: center;
}

.nav-top-cont {
    width: 100%;
    height: 60%;
}

.countries, .logo, .buttons-top-nav {
    width: 33%;
    align-items: center;
    justify-content: center;
    position: relative;
}

.logo-cont {
    display: contents;
    width: 50%;
    height: 100%;
}

.btn-country, .btn-language {
    height: 100%;
    background-color: transparent;
    border: none;
    font-size: 18px;
    margin: 0 10px;
    color: #3D210C;
    cursor: pointer;
    position: relative;
    transition: 0.3s ease-in-out;
}

.btn-country:hover, .btn-language:hover {
    color: #CD7F32;   
}

.lang-ind::before {
    content: '\f105';
    font-family: Fontello;
    position: absolute;
    transform: rotate(0deg);
    transition: 0.3s ease-in-out;
}

.active .lang-ind::before {
    transform: rotate(90deg);
}

.search-icon, .inst-icon {
    color: #3D210C;
    cursor: pointer;
}

.search-icon:hover, .inst-icon:hover {
    color: #CD7F32;
}

.search-icon::before {
    font-family: "fontello";
    content: '\e803';
    font-size: 30px;
}

.inst-icon::before {
    font-family: "fontello";
    content: '\e804';
    font-size: 30px;
}

.buttons-top-nav-list {
    display: grid;
    margin: 0;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1,max-content);
}

.buttons-top-nav-list li {
    margin: 0 30px;
}

.nav {
    width: 100%;
    height: auto;
}

.nav-wrapper {
    width: 100%;
    height: 40px;
    margin: 0 auto;
}

.nav-list {
    display: flex;
    width: fit-content;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
}

.nav-list li {
    margin: 0;
    padding: 0 30px;
    text-align: center;
    font-size: 18px;
}

.menu-btn {
    position: relative;
    cursor: pointer;
}

.nav-list li a::after {
    background-color: #CD7F32;
    display: block;
    content: "";
    height: 1px;
    width: 0%;
    left:50%;
    position:absolute;
    -webkit-transition: width 0.3s ease-in-out;
    -moz--transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
    -webkit-transform:translateX(-50%);
    -moz-transform:translateX(-50%);
    transform:translateX(-50%);
}

.nav-list li a:hover::after {
    width: 100%;
}

/* sub menu */

.sub-nav-home-wrapper, .sub-nav-gallery-wrapper, .sub-nav-clothes-wrapper, 
.sub-nav-accessories-wrapper, .sub-nav-news-wrapper{
    width: 100%;
    height: 0;
    background-color: whitesmoke;
    transition: 0.5s ease-in-out;
    overflow: hidden;
    position: relative;
}

.sub-menu-container {
    width: 100%;
    z-index: 1;
}

/* home-sub */

.sub-home-wrapper {
    width: 90%;
    margin: auto;
    padding: 10px;
}

.sub-home-wrapper .after-change::after {
    background-color: #CD7F32;
    display: block;
    content: "";
    height: 2px;
    border-radius: 50%;
    width: 0%;
    left:50%;
    position:absolute;
    -webkit-transition: width 0.3s ease-in-out;
    -moz--transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
    -webkit-transform:translateX(-50%);
    -moz-transform:translateX(-50%);
    transform:translateX(-50%);
}

.about-container {
    overflow: hidden;
    background-color: lightgrey;
    position: relative;
    cursor: pointer;
    width: 200px;
    height: 200px;
    margin: 0 20px;
}

.about-container img {
    transition: 0.3s ease-in-out;
}

.about-container:hover img {
    transform: scale(1.1);
}

.about-container:hover .after-change {
    color: #CD7F32;
}

.about-container:hover .after-change::after {
    width: 90%;
}

.about-text {
    position: absolute;
    top: 50%;
    text-align: center;
    width: 100%;
    height: 40px;
    font-size: 20px;
    font-weight: 600;
    background-color: rgba(245, 245, 245, 0.5);
    color: #3D210C;
    transform: translate(0, -50%);
}

.sale-container {
    overflow: hidden;
    background-color: lightgrey;
    position: relative;
    width: 400px;
    height: 400px;
    margin: 0px 20px;
}

.sale-img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.sale-img img {
    transition: 0.3s ease-in-out;
}

.sale-img:hover img {
    transform: scale(1.1);
}

.sale-text {
    position: absolute;
    text-align: center;
    width: 260px;
    transform: rotate(-45deg);
    bottom: 11%;
    left: 50%;
    background-color: red;
    height: 40px;
    color: whitesmoke;
    font-size: 30px;
}

.new-goods-container {
    position: relative;
    overflow: hidden;
    width: 400px;
    height: 400px;
    margin: 0 20px;
    cursor: pointer;
}

.new-goods-container img {
    transition: 0.3s ease-in-out;
}

.new-goods-container:hover img {
    transform: scale(1.1);
}

.new-text {
    position: absolute;
    text-align: center;
    width: 260px;
    transform: rotate(-45deg);
    bottom: 11%;
    left: 50%;
    background-color: red;
    height: 40px;
    color: whitesmoke;
    font-size: 30px;
}

/* home-sub */

/* gallery-sub */

.sub-gallery-wrapper {
    width: 90%;
    margin: auto;
    padding: 10px;
}

.sub-gallery-table {
    display: grid;
    grid-template-columns: repeat(6, 100px);
    grid-template-rows: repeat(2, 100px);
    justify-content: center;
    grid-gap: 20px;
}

.clothes-gallery {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    overflow: hidden;
    position: relative;
}

.home-gallery {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
    overflow: hidden;
    position: relative;
}

.travel-gallery {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 3;
    overflow: hidden;
    position: relative;
}

.gallery-sub-title {
    position: absolute;
    bottom: 0;
    padding: 10px 0;
    background-color: rgba(245, 245, 245, 0.5);
    color: #3D210C;
    width: 100%;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    transition: 0.3s ease-in-out;
}

.gallery-sub-title p {
    position: relative;
}

.gallery-sub-title p::after {
    background-color: #CD7F32;
    display: block;
    content: "";
    height: 2px;
    border-radius: 50%;
    width: 0%;
    left:50%;
    position:absolute;
    -webkit-transition: width 0.3s ease-in-out;
    -moz--transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
    -webkit-transform:translateX(-50%);
    -moz-transform:translateX(-50%);
    transform:translateX(-50%);
}

.clothes-gallery img, .home-gallery img, .travel-gallery img {
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.clothes-gallery:hover img, .home-gallery:hover img, .travel-gallery:hover img {
    transform: scale(1.1);
}

.clothes-gallery:hover .gallery-sub-title, .home-gallery:hover .gallery-sub-title, .travel-gallery:hover .gallery-sub-title {
    color: #CD7F32;
}

.clothes-gallery:hover .gallery-sub-title p::after, .home-gallery:hover .gallery-sub-title p::after, .travel-gallery:hover .gallery-sub-title p::after{
    width: 90%;
}

/* gallery-sub end */

/* clothes-sub */

.sub-clothes-wrapper {
    width: 90%;
    margin: auto;
    padding: 10px;
}

.women-clothe {
    align-self: flex-start;
    margin-left: 20px;
    margin-right: 120px;
    margin-top: 10px;
    position: relative;
    font-size: 20px;
}

.women-clothe ul {
    margin: 0;
    color: #3D210C;  
}

.women-clothe ul li {
    margin-left: 10px;  
}

.women-clothe ul p {
    margin-bottom: 10px;
}

.women-clothe ul li a {
    position: relative;
}

.women-clothe ul li a::after {
    background-color: #CD7F32;
    display: block;
    content: "";
    height: 2px;
    border-radius: 50%;
    width: 0%;
    left:50%;
    position:absolute;
    -webkit-transition: width 0.3s ease-in-out;
    -moz--transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
    -webkit-transform:translateX(-50%);
    -moz-transform:translateX(-50%);
    transform:translateX(-50%);
}

.women-clothe ul li:hover a::after {
    width: 100px;
}

.new-clothe {
    width: 200px;
    height: 250px;
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
}

.clothe-table {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.clothe-img {
    width: 100%;
    height: 200px;
    overflow: hidden;
    position: relative;
}

.clothe-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #3D210C;
}

.clothe-title p {
    padding: 10px 0;
}

.clothe-title p::after {
    background-color: #CD7F32;
    display: block;
    content: "";
    height: 2px;
    border-radius: 50%;
    width: 0%;
    left:50%;
    position:absolute;
    -webkit-transition: width 0.3s ease-in-out;
    -moz--transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
    -webkit-transform:translateX(-50%);
    -moz-transform:translateX(-50%);
    transform:translateX(-50%);
}

.clothe-table img {
    transition: 0.3s ease-in-out;
}

.clothe-table:hover img {
    transform: scale(1.1);
}

.clothe-table:hover .clothe-title {
    color: #CD7F32; 
}

.clothe-table:hover .clothe-title p::after {
    width: 80%;
}

.new-clothe-text {
    position: absolute;
    text-align: center;
    width: 200px;
    transform: rotate(-45deg);
    bottom: 15%;
    left: 27%;
    background-color: red;
    height: 30px;
    color: whitesmoke;
    font-size: 25px;
}

/* clothes-sub end */

/* accessories-sub */

.accessories-wrapper {
    width: 90%;
    margin: auto;
    padding: 10px;
}

.accessories-content {
    justify-content: center;
}

.ul-for-women {
    margin: 0 10px;
}

.ul-for-home {
    margin: 0 10px;
}   

.ul-for-jewelry {
    margin: 0 10px;
}

.accessories-content ul {
    font-size: 18px;
    margin-right: 20px;
    color: #3D210C;
}

.accessories-content ul p {
    padding: 5px 0;
}

.accessories-content ul li {
    margin-left: 20px;
}

.accessories-content ul li a {
    position: relative;
}

.accessories-content ul li a::after {
    background-color: #CD7F32;
    display: block;
    content: "";
    height: 1px;
    width: 0%;
    left:50%;
    position:absolute;
    -webkit-transition: width 0.3s ease-in-out;
    -moz--transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
    -webkit-transform:translateX(-50%);
    -moz-transform:translateX(-50%);
    transform:translateX(-50%);
}

.accessories-content ul li a:hover::after{
    width: 100%;
}

.ul-sub-img {
    width: 300px;
    height: 300px;
}

/* accessories-sub end */

/* news-sub */

.news-sub-wrapper {
    width: 90%;
    margin: auto;
    padding: 10px;
}

.news-sub-content {
    display: grid;
    grid-template-columns: repeat(7, 100px);
    grid-template-rows: repeat(2, 100px);
    justify-content: center;
    gap: 10px;
}

.last-news-container {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.news-sub-title {
    position: absolute;
    top: 0;
    width: 100%;
    height: 50px;
    font-size: 20px;
    background-color: rgba(245, 245, 245, 0.5);
}

.news-sub-title span {
    color: #3D210C;
    position: relative;
}

.rec-news-container {
    grid-column-start: 4;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 2;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.rec-sub-title {
    position: absolute;
    width: 100%;
    height: 50px;
    top: 50%;
    transform: translate(0, -50%);
    align-items: center;
    font-size: 20px;
    background-color: rgba(245, 245, 245, 0.5);
}

.rec-sub-title span {
    margin-left: 10px;
    color: #3D210C;
    position: relative;
}

.media-news-container {
    grid-column-start: 4;
    grid-column-end: 8;
    grid-row-start: 2;
    grid-row-end: 3;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.media-sub-title {
    position: absolute;
    width: 100%;
    height: 50px;
    top: 50%;
    transform: translate(0, -50%);
    align-items: center;
    font-size: 20px;
    background-color: rgba(245, 245, 245, 0.5);
}

.media-sub-title span {
    margin-left: 10px;
    color: #3D210C;
    position: relative;
}

.last-news-container img, .rec-news-container img, .media-news-container img {
    transition: 0.3s ease-in-out;
}

.last-news-container:hover img, .rec-news-container:hover img, .media-news-container:hover img {
    transform: scale(1.1);
}

.last-news-container:hover span, .rec-news-container:hover span, .media-news-container:hover span {
    color: #CD7F32;
}

.last-news-container span::after, .rec-news-container span::after, .media-news-container span::after {
    background-color: #CD7F32;
    display: block;
    content: "";
    height: 1px;
    width: 0%;
    left:50%;
    position:absolute;
    -webkit-transition: width 0.3s ease-in-out;
    -moz--transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
    -webkit-transform:translateX(-50%);
    -moz-transform:translateX(-50%);
    transform:translateX(-50%);
}

.last-news-container:hover span::after, .rec-news-container:hover span::after, .media-news-container:hover span::after {
    width: 100%;
}

/* news-sub end */

/* sub menu end */

/* header end */

/* footer */

.footer {
    background-color: #2d2d2d;
    font-size: 20px;
    color: whitesmoke;
    position: relative;
}

.footer-wrapper {
    width: 60%;
    margin: auto;
    padding: 20px 10px;
    flex-wrap: nowrap;
}

.footer a {
    color: whitesmoke;
}

.footer a:hover {
    color: #CD7F32;
}

.footer-row {
    padding-bottom: 5px;
    font-size: 16px;
}

/* footer end */

#content {
    width: 100%;
    height: 100%;
}

/* legal pages, FAQ */

.title-middle h2 {
    width: fit-content;
    margin: 0 auto;
    border-bottom: 1px solid;   
}

.ligal-article {
    width: 80%;
    line-height: 1.2;
}

.ligal-article h2 {
    width: fit-content;
    border-bottom: 1px solid #3D210C;
    margin-bottom: 1vh;
}

.ligal-article p {
    font-size: 110%;
    margin-bottom: 1vh;
}

.ligal-article ul {
    margin-left: 1vh;
}

.faq-btn {
    width: 100%;
    height: 5vh;
    text-align: left;
    padding: 1vh 1vh;
    font-size: 120%;
    background-color: transparent;
    border: none;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    color: #3D210C;
    cursor: pointer;
    position: relative;
    margin-top: 1vh;
    transition: 0.5s ease-in-out;
}

.faq-btn.oppened {
    border-bottom: none;
    color: #CD7F32;
    height: 100%;
}

.faq-btn p {
    position: relative;
}

.faq-btn:hover {
    color: #CD7F32;
    border-color: #CD7F32;
}

.faq-btn-ind {
    position: absolute;
    right: 3vh;
    height: 100%;
    top: 50%;
    transform: translate(0vh, -50%);
}

.faq-btn-ind::before {
    content: '\f105';
    font-family: Fontello;
    position: absolute;
    transform: rotate(0deg);
    transition: 0.3s ease-in-out;
}

.oppened .faq-btn-ind::before {
    transform: rotate(90deg);
}

.faq-content {
    width: 100%;
    height: 0;
    overflow: hidden;
    margin: 0;
    transition: 0.5s ease-in-out;
}

.oppened .faq-content {
    color: #3D210C;
    margin-top: 1vh;
    border-bottom: 1px solid gray;
}


/* legal pages, FAQ end */

/* modals */

.modal-wrapper-lang {
    position: absolute;
    opacity: 0;
    top: 40px;
    left: 0;
    width: 150px;
    background-color: white;
    border: 1px solid #7d7d7d;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease-in-out;
    z-index: -1000;
}

.modal-content-lang {
    width: 50%;
}

.modal-content-lang::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: calc(100% - 87px);
    width: 16px;
    height: 16px;
    background: #fff;
    border-left: 1px solid #7d7d7d;
    border-top: 1px solid #7d7d7d;
    pointer-events: none;
    -webkit-transform: rotate(45deg) translateY(-13px);
    transform: rotate(45deg) translateY(-13px);
    transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
}

.open.modal-wrapper-lang {
    opacity: 1;
    top: 60px;
    z-index: 1001;
}

.modal-country-bg {
    width: 100%;
    position: fixed;
    top: -100%;
    left: 0;
    height: 100%;
    background-color: rgba(0,  0, 0, 0.7);
    opacity: 0;
    transition: 0.5s ease-in-out;
    overflow: hidden;
    z-index: 1001;
}

.modal-country-bg.open {
    top: 0;
    opacity: 1;
    z-index: 1001;
} 

.modal-country-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

.modal-country-wrapper-2 {
    width: 100%;
    height: 100%;
    position: fixed;
}

.modal-country-cont {
    position: absolute;
    width: 700px;
    height: 600px;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: whitesmoke;
}

.modal-country-header {
    width: 100%;
    height: 50px;
    background-color: #ebebeb;
}

.choose-country {
    font-size: 24px;
    color: #3D210C;
}

.close-modal {
    color: #3D210C;
}

.close-modal::before {
    font-size: 18px;
    content: '\2716';
    cursor: pointer;
}

.close-modal:hover {
    color: #CD7F32;
}

.modal-country-title-cont {
    width: 20%;
    height: 100%;
    overflow: hidden;
}

.modal-country-title-2 {
    height: 60px;
}

.modal-country-content {
    width: 100%;
    height: 80%;
}

.country-list-europe {
    padding: 0 30px;
    font-size: 18px;
    color: #3D210C;
}

.country-list {
    display: grid;
    margin: 10px;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(9,max-content);
    grid-auto-flow: column;
    grid-column-gap: 10px;
}

.country-list-2 {
    margin: 10px;
}

.country-list li, .country-list-2 li {
    padding-bottom: 5px;
    margin: 0;
}

.country-list li a, .country-list-2 li a {
    position: relative;
}

.country-list li a::after, .country-list-2 li a::after {
    background-color: #CD7F32;
    display: block;
    content: "";
    height: 1px;
    width: 0%;
    left:50%;
    position:absolute;
    -webkit-transition: width 0.3s ease-in-out;
    -moz--transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
    -webkit-transform:translateX(-50%);
    -moz-transform:translateX(-50%);
    transform:translateX(-50%);
}

.country-list li a:hover::after, .country-list-2 li a:hover::after {
    width: 100%;
}

.country-list-america, .country-list-asia{
    align-items: center;
    font-size: 18px;
    color: #3D210C;
}

.modal-search-bg {
    width: 100%;
    position: fixed;
    left: 0;
    height: 0;
    background-color: rgba(0,  0, 0, 0.7);
    opacity: 0;
    transition: 0.5s ease-in-out;
    overflow: hidden;
    z-index: 1;
}

.desktop-search {
    top: 0;
}

.modal-search-bg.open {
    height: 150px;
    opacity: 1;
    z-index: 1001;
}

.modal-search-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-search {
    width: 80%;
    margin: auto;
}

.search-form{
    display: flex;
    position: relative;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    color: #3D210C;
    height: 44px;
}

.search-input {
    display: flex;
    width: 90%;
    height: 100%;
    background: none;
    border: none;
    padding-left: 10px;
    padding-right: 60px;
    font-size: 20px;
    background-color: rgba(245, 245, 245, 0.7);
    border-radius: 10px;
}

.search-input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

.search-input:hover, .search-input:focus {
    border: 1px solid #CD7F32;
    background-color: whitesmoke;
}

.search-button {
    position: absolute;
    display: flex;
    width: 60px;
    height: 60px;
    background: none;
    border: none;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #3D210C;
    right: 5%;
    cursor: pointer;
}

.search-button::before {
    font-family: 'fontello';
    content: '\e803';
    font-size: 30px;
}

.search-button:hover {
    color: #CD7F32;
}

.close-search {
    color: whitesmoke;
    position: absolute;
    top: 10px;
    right: 20px;
}

.close-search::before {
    font-size: 18px;
    content: '\2716';
    cursor: pointer;
}

.close-search:hover {
    color: #CD7F32;
}

.digital-search {
    bottom: 0;
}

.desktop-search {
    top: 0;
}

.go-top-link {
    position: fixed;
    bottom: -100px;
    right: 20px;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.go-top-link.active {
    bottom: 20px;
    right: 20px;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.go-top {
    display: flex;
    width: 50px;
    height: 50px;
    border: 2px solid black;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.arrow {
    transform: rotate(90deg);
}

.arrow .arrow-line{
    width: 45px;
    height: 2px;
    background-color: black;
    display: block;
    margin: 8px auto;
  }

.arrow .arrow-line:nth-child(1),
.arrow .arrow-line:nth-child(3){
  width: 30px;
}

.arrow .arrow-line:nth-child(1){
  -webkit-transform: translateX(-10px) rotate(-40deg);
  -ms-transform: translateX(-10px) rotate(-40deg);
  -o-transform: translateX(-10px) rotate(-40deg);
  transform: translateX(-10px) rotate(-40deg);
}

.arrow .arrow-line:nth-child(3){
  -webkit-transform: translateX(-10px) rotate(40deg);
  -ms-transform: translateX(-10px) rotate(40deg);
  -o-transform: translateX(-10px) rotate(40deg);
  transform: translateX(-10px) rotate(40deg);
}

.go-top-link:hover .go-top {
    border: 2px solid #CD7F32;
}

.go-top-link:hover .go-top .arrow .arrow-line {
    background-color: #CD7F32;
}

/* modals end */

/* alerts */

.alert-wrapper {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    transition: 0.5s ease-in-out;
}

.alert-wrapper.active {
    top: -100%;
}

.alert-content {
    width: 30%;
    background-color: rgba(243, 157, 165, 0.7);
    padding: 20px;
    position: relative;
}

.error-404-title {
    color: #3D210C;
    font-size: 120%;
}

.error-404-description {
    color: #3D210C;
    font-size: 120%;
    text-align: center;
    width: 80%;
    padding-top: 10px;
}

#close-error-404 {
    position: absolute;
    font-size: 110%;
    color: #3D210C;
    top: 1vh;
    right: 2vh;
    cursor: pointer;
}

#close-error-404:hover {
    color: #CD7F32;
}

#close-error-404::before {
    content: "\2716";
}

.cart-icon {
    color: #3D210C;
}

.cart-icon:hover {
    color: #CD7F32;
}

.cart-icon::before {
    font-family: 'fontello';
    content: '\e800';
    font-size: 30px;
}

/* alerts end */

/* animation */

@keyframes blockAppear {
    0% {opacity: 0; transform: scale(1.1);}
    100% {opacity: 1; transform: scaleX(1);}
}

.scroll1, .scroll2, .scroll3 {
    transform: translateY(100px);
    opacity: 0;
    transition: all 0.8s ease-in-out;
}

.scroll1.fade-in, .scroll2.fade-in, .scroll3.fade-in {
    transform: translateY(0);
    opacity: 1;
}

/* animation end */